#corps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-gap: 10px;
}
article{
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: white;
}
.h2{
    margin: 8px;
    font-size: 1.5em;
}