.grparticles{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

article{
    height: 300px;
    width: 450px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: white;
}

.titre{
    margin: 8px;
    font-size: 1.5em;
}